@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-snpro: 'SN Pro', sans-serif;
}

/* index */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp .8s ease forwards;
}

.delay-100 { 
  animation-delay: .1s 
}
.delay-200 { 
  animation-delay: .2s 
}
.delay-300 { 
  animation-delay: .3s 
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* layout default */
.slide-enter-active,
.slide-leave-active {
    transition: all .25s ease;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

/* about-me */
.reveal {
  opacity: 0;
  filter: blur(6px);
  transition: all .9s cubic-bezier(.2,.65,.3,1);
}
.show {
  opacity: 1;
  transform: translate(0,0);
  filter: blur(0);
}
.reveal-left {
  transform: translateX(-80px);
}
.reveal-right {
  transform: translateX(80px);
}
.reveal-up {
  transform: translateY(60px) scale(.95);
}

/* bento hover effect */
.bento {
  transition: all .4s ease;
}

.bento:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 25px 40px rgba(0,0,0,.15);
}
